/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* line 9, ../_sass/screen.scss */
* { margin: 0; padding: 0; }

/* line 14, ../_sass/screen.scss */
html, body { height: 100%; }

/* line 18, ../_sass/screen.scss */
body { background-color: white; font: 13.34px helvetica, arial, clean, sans-serif; *font-size: small; text-align: center; }

/* line 25, ../_sass/screen.scss */
h1, h2, h3, h4, h5, h6 { font-size: 100%; }

/* line 29, ../_sass/screen.scss */
h1 { font-size: 150%; margin-bottom: 1em; }

/* line 34, ../_sass/screen.scss */
h2 { font-size: 140%; }

/* line 38, ../_sass/screen.scss */
h3 { font-size: 130%; }

/* line 42, ../_sass/screen.scss */
p { margin: 1em 0; }

/* line 46, ../_sass/screen.scss */
a { color: #00a; }

/* line 50, ../_sass/screen.scss */
a:hover { color: black; }

/* line 54, ../_sass/screen.scss */
a:visited { color: #a0a; }

/* line 58, ../_sass/screen.scss */
table { font-size: inherit; font: 100%; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 69, ../_sass/screen.scss */
ul.posts { list-style-type: none; margin-bottom: 2em; }

/* line 74, ../_sass/screen.scss */
ul.posts li { line-height: 1.75em; }

/* line 78, ../_sass/screen.scss */
ul.posts span { color: #aaa; font-family: Monaco, "Courier New", monospace; font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 90, ../_sass/screen.scss */
.site { font-size: 110%; text-align: left; width: 50em; margin: 3em auto 2em auto; line-height: 1.5em; }

/* line 98, ../_sass/screen.scss */
.title { color: #a00; font-weight: bold; margin-bottom: 2em; }

/* line 104, ../_sass/screen.scss */
.site .title a { color: #a00; text-decoration: none; }

/* line 109, ../_sass/screen.scss */
.site .title a:hover { color: black; }

/* line 113, ../_sass/screen.scss */
.site .title a.extra { color: #aaa; text-decoration: none; margin-left: 1em; }

/* line 119, ../_sass/screen.scss */
.site .title a.extra:hover { color: black; }

/* line 123, ../_sass/screen.scss */
.site .meta { color: #aaa; }

/* line 127, ../_sass/screen.scss */
.site .footer { font-size: 80%; color: #666; border-top: 4px solid #eee; margin-top: 2em; overflow: hidden; }

/* line 135, ../_sass/screen.scss */
.site .footer .contact { float: left; margin-right: 3em; }

/* line 140, ../_sass/screen.scss */
.site .footer .contact a { color: #8085C1; }

/* line 144, ../_sass/screen.scss */
.site .footer .rss { margin-top: 1.1em; margin-right: -0.2em; float: right; }

/* line 150, ../_sass/screen.scss */
.site .footer .rss img { border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 166, ../_sass/screen.scss */
#post pre { border: 1px solid #ddd; background-color: #eef; padding: 0 .4em; }

/* line 173, ../_sass/screen.scss */
#post ul, #post ol { margin-left: 1.35em; }

/* line 177, ../_sass/screen.scss */
#post code { border: 1px solid #ddd; background-color: #eef; font-size: 85%; padding: 0 .2em; }

/* line 184, ../_sass/screen.scss */
#post pre code { border: none; }

/* terminal */
/* line 190, ../_sass/screen.scss */
#post pre.terminal { border: 1px solid black; background-color: #333; color: white; }

/* line 196, ../_sass/screen.scss */
#post pre.terminal code { background-color: #333; }

/* line 200, ../_sass/screen.scss */
#related { margin-top: 2em; }

/* line 204, ../_sass/screen.scss */
#related h2 { margin-bottom: 1em; }

/* line 208, ../_sass/screen.scss */
#overlay-header { -moz-box-shadow: 0 1px 15px #9C9C9C; background: none repeat scroll 0 0 rgba(255, 215, 0, 0.6); border-bottom: 1px solid black; font-size: 20px; font-weight: bold; left: 0; padding: 5px 10% 10px; position: fixed; bottom: 0; width: 80%; }
