<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Luke Chadwick" />
   <link href="http://feeds.feedburner.com/vertis" rel="alternate" title="Luke Chadwick" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/3rd_party/pygments/default.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
   <style type="text/css">
     body {
       padding-top: 60px;
     }
     code {
       background-color: whiteSmoke;
       color: rgba(0, 0, 0, 0.75);
       padding: 1px 3px;
     }
     
     .image-bar li a {
       padding: 8px 10px 5px !important; 
     }
   </style>
   
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1940507-6']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
	 
   // $(document).ready(function() {
   //      $('#projects').gitview({
   //        user: 'vertis',         // any github username
   //        count      : 5,          // (optional) number of repos per widget page
   //        width      : '720px',    // (optional) width of widget
   //        frameColor : 'grey',      // (optional) frame background color
   //        compact    : true,      // (optional) compact mode or full mode?
   //        noFrame    : true,      // (optional) no fancy widget frame, just repositories
   //      });
   // });

   </script>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <a class="brand" href="/">Luke Chadwick</a>
        <!-- <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
        </ul> -->
        <ul class="nav secondary-nav image-bar">
          <li><a href="http://twitter.com/#!/vertis"><img src="/images/twitter.png" alt=""></a></li>
          <li><a href="https://github.com/vertis"><img src="/images/github.png" alt=""></a></li>
          <li><a href="http://stackoverflow.com/users/65903/luke-chadwick"><img src="/images/stackoverflow.png" alt=""></a></li>
          <li><a href="http://feeds.feedburner.com/vertis"><img src="/images/rss.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span16">
          {{ content }}
        </div>
      </div>
    </div>
    <footer>
      <p>© Luke Chadwick 2012</p>
    </footer>
  </div>
</body>
</html>
