<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Luke Chadwick" />
   <link href="http://feeds.feedburner.com/vertis" rel="alternate" title="Luke Chadwick" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/3rd_party/pygments/default.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script src="http://logicalcognition.com/Projects/Gitview/Gitview.js"></script>

   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-1940507-6']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
	 
	 $(document).ready(function() {
		 $('#projects').gitview({
		   user: 'vertis',         // any github username
		   count      : 5,          // (optional) number of repos per widget page
		   width      : '720px',    // (optional) width of widget
		   frameColor : 'grey',      // (optional) frame background color
		   compact    : false,      // (optional) compact mode or full mode?
		   noFrame    : true,      // (optional) no fancy widget frame, just repositories
		 });
	 });

   </script>
   <script type="text/javascript">
       (function(){
           var a=(new Date).getTime();
           if(a>=1326862800000 && a<=1326949200000 || window.location.hash=="#stopsopa"){
               var b=document.createElement("script");
               b.type="text/javascript";
               b.async=true;
               b.src="/stop-sopa.js";
               var c=document.getElementsByTagName("script")[0];
               c.parentNode.insertBefore(b,c)
           }
       })()
   </script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Luke Chadwick</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Luke Chadwick<br />
        luke.a.chadwick@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/vertis/">github.com/vertis</a><br />
        <a href="http://twitter.com/vertis/">twitter.com/vertis</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/vertis">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/vertis"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
