---
layout: default
---

<div class="relative bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <section class="">
        <article class="mt-12 mb-24">
          {% if page.feature_image %}
          <figure class="mb-6">
            <img
              class="mx-auto w-full rounded-lg shadow-lg"
              src="{{ page.feature_image.url }}"
            />
            <figcaption class="mt-2 text-center text-xs text-gray-500">
              {{page.feature_image.caption}}
            </figcaption>
          </figure>
          {% endif %}
          <div class="mt-6 prose prose-cyan prose-lg text-gray-500 mx-auto">
            {{ content }}
          </div>
          <hr class="mt-12" />
        </article>
      </section>
    </div>
  </div>
</div>
