---
layout: default
---

<div class="relative bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
            <section class="">
            <article class="blog-post mt-12 mb-24">
                <header>
                    <h1 class="mt-2 block text-xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-2xl">{{ page.title }}</h1>
                    <div class="mb-2 space-x-1 text-sm text-center text-gray-500">
                        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
                        {% if page.minutes_read %}
                        <span aria-hidden="true">
                            ·
                        </span>
                        <span>
                            {{ page.minutes_read }} min read
                        </span>
                        {% endif %}
                    </div>
                </header>
                {% if page.feature_image %}
                <figure class="mb-6">
                    <img class="mx-auto w-full rounded-lg shadow-lg" src="{{ page.feature_image.url }}"/>
                    <figcaption class="mt-2 text-center text-xs text-gray-500">{{page.feature_image.caption}}</figcaption>
                </figure>
                {% endif %}
                <div class="addthis_inline_share_toolbox"></div> 
                <div class="mt-6 prose prose-orange prose-lg text-gray-500 mx-auto">
                {{ content }}
                </div>
                <div class="mt-12 addthis_inline_share_toolbox"></div> 
                <hr class="mt-12"/>
            </article>
        </section>
    </div>
  </div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5feb117513596a0c"></script> 
