---
layout: default
---

<div class="relative bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
        <section class="">
            <article class="blog-post mb-24">
                <header>
                    <h1 class="mt-2 block text-xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-2xl">{{ page.title }}</h1>
                    <div class="mb-2 space-x-1 text-sm text-center text-gray-500">
                        <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
                        {% if page.minutes_read %}
                        <span aria-hidden="true">
                            ·
                        </span>
                        <span>
                            {{ page.minutes_read }} min read
                        </span>
                        {% endif %}
                    </div>
                </header>
                {{ content }}
                <hr class="mt-12"/>
            </article>
        </section>
    </div>
  </div>
</div>
